body {
  margin: 0;
  background: #ededed;
}

.wrapper header {
  position: relative;
}
.wrapper header .backGround {
  position: relative;
}
.wrapper header .backGround .backgroundImage {
  width: 100%;
  height: auto;
  display: block;
}
.wrapper header .backGround .logo-image {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}
.wrapper header .backGround .logo-cercle {
  position: absolute;
  top: 50px;
  left: 250px;
  z-index: 1;
}
.wrapper main {
  /* Style for the search container */
  position: relative;
  /* Add these styles to your existing CSS file or create a new one */
}
.wrapper main .searchContainer {
  padding: 20px;
  text-align: center;
  background-color: transparent;
  position: relative;
}
.wrapper main .searchContainer .search {
  position: absolute;
  margin-top: -450px;
  /* Style for the search input */
}
.wrapper main .searchContainer .search .texte {
  color: #ffd15b;
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper main .searchContainer .search .searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.wrapper main .searchContainer .search .searchInput input {
  width: 70%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.wrapper main .searchContainer .search .searchLoup {
  width: 15px;
  height: 22px;
  cursor: pointer;
  margin-left: -50px;
  border-radius: 10px;
  background: #1b1b1b;
  width: 30px;
  margin-bottom: 2px;
  padding: 6px;
}
.wrapper main .filtre {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.wrapper main .filtre .filtre_container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 130px;
}
.wrapper main .filtre .filtre_container .recherche-secondaire {
  flex: 1;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper {
  background: white;
  align-items: center;
  gap: 10px;
  position: relative;
  flex-direction: column;
  border-radius: 5%;
  height: 50px;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .btn-section-app,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .btn-section-ingre {
  display: flex;
  padding: 10px;
  width: 180px;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .btn-section-app button,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .btn-section-ingre button {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: #fff;
  width: 100%;
  text-align: start;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper ul {
  list-style: none;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: -20px;
  left: 0;
  display: none;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-base-color: white;
  margin-top: 65px;
  width: 100%;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper ul::-webkit-scrollbar {
  width: 0;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper ul.hidden {
  display: block;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper ul li {
  text-align: start;
  margin: 5px;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-appareil,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ingredient,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ustensiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 5px;
  width: 190px;
  background-color: white;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-appareil input,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ingredient input,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ustensiles input {
  padding: 10px;
  border: none;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-appareil input:focus,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ingredient input:focus,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ustensiles input:focus {
  outline: 1px solid rgb(230, 226, 226);
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-appareil.hidden,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ingredient.hidden,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ustensiles.hidden {
  display: none;
}
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-appareil .fas.fa-search,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ingredient .fas.fa-search,
.wrapper main .filtre .filtre_container .recherche-secondaire .search-input-wrapper .searchBar-ustensiles .fas.fa-search {
  cursor: pointer;
  color: rgb(198, 198, 198);
  margin-left: 150px;
  position: absolute;
}
.wrapper main .cartes {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  margin-top: 60px;
}
.wrapper main .cartes .carte {
  width: 350px;
  margin-left: 55px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.wrapper main .cartes .carte .carte_image {
  margin-bottom: 15px;
}
.wrapper main .cartes .carte .carte_image img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}
.wrapper main .cartes .carte .card-img-top {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
}
.wrapper main .cartes .carte .text {
  padding: 10px;
}
.wrapper main .cartes .carte .text .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.wrapper main .cartes .carte .text .time {
  color: #888;
  font-size: 14px;
}
.wrapper main .cartes .carte .text .description-section {
  margin-top: 15px;
}
.wrapper main .cartes .carte .text .description {
  line-height: 1.5;
  color: #555;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  max-height: 80%;
}
.wrapper main .cartes .carte .text .ingredients-section p {
  color: #7a7a7a;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.wrapper main .cartes .carte .text .ingredients-section .ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.wrapper main .cartes .carte .text .ingredients-section .ingredients .ingredients-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* Each ingredient-info takes up 50% of the container width */
}
.wrapper main .cartes .carte .text .ingredients-section .ingredients .ingredients-info .title p {
  margin-bottom: 4px;
  /* Add margin between title and unit */
  color: rgb(27, 27, 27);
}
.wrapper main .cartes .carte .text .ingredients-section .ingredients .ingredients-info .unit {
  display: flex;
  /* Display quantity and unit on the same line */
  align-items: baseline;
  /* Align elements to the baseline */
  margin-top: -20px;
  color: rgb(122, 122, 122);
}
.wrapper main .cartes .carte .text .ingredients-section .ingredients .ingredients-info .unit span {
  color: rgb(122, 122, 122);
}

/*# sourceMappingURL=style.css.map */
